/* Import Google - Poppins */
@import url('https:/fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.search {
 height: 40vh;
 display: flex;
 align-items: center;
 justify-content: center;
 position: relative;   
}
.search img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.search .content {
    color: #fff;
    position: relative;
    z-index: 2;
}
.search h1 {
    font-size: 2.65rem;
    font-weight: 600;
}
.search p {
    font-size: 1.5rem;
    margin-top: 8px;
}
.search .search-box {
    height: 55px;
    margin: 45px 0;
    position: relative;
}
.search-box i {
    position: absolute;
    left: 20px;
    top: 50%;
    color: #8d8d8d;
    transform: translateY(-50%);
}
input, button, i {
    outline: none;
    border:  none;
    border-radius: 5px;
    
}
.search-box input {
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
    padding-left: 55px;
}
.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery .images {
    gap: 15px;
    max-width: 95%;
    margin-top: 40px;
    columns: 5 340px;
}
.images .card {
    display: flex;
    overflow: hidden;
    position: relative;
    list-style: none;
    margin-bottom: 14px;
    border-radius: 4px;
}
.images .card .details {
    position: absolute;
    bottom: -100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    transition: bottom 0.1s ease;
    background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
}
.images .card:hover .details {
    bottom: 0;
}
.photographer {
    color: #fff;
    display: flex;
    align-items: center;
}
.photographer {
    font-size: 1.4rem;
    margin-right: 10px;
}
.details .photographer span {
    font-size: 1.05rem;
}
.card .details button {
    cursor: pointer;
    padding: 3px 8px;
    font-size: 1.1rem;
    background: #fff;
}
.images img {
    width: 100%;
}
.gallery .load-more {
    margin: 50px 0;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 12px 27px;
    background: #8d6cff;
}
.lightbox {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0,0,0,0.65);
}
.lightbox .wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    padding: 20px;
    max-width: 850px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%);
}
.wrapper header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .photographer {
    color: #333;
}
header .photographer i {
    font-size: 1.7rem;
}
header .photographer span {
    font-size: 1.7rem;
}
header .buttons i {
    width: 40px;
    height: 40px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    background: #8d6cff;
    font-size: 1.2rem;
    display: inline-block;
}
.buttons i:last-child {
    margin-left: 10px;
    background: #6c757d;
}
.preview-img {
    display: flex;
    margin-top: 25px;
    justify-content: center;
}
.wrapper .preview-img .img {
    max-height: 65vh;
    max-width: 90vh;
}
.preview-img .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}